{% extends "base.html" %} {% block title %}Activities{% endblock %}

{% block content %}
<!-- <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/activities">Activities</a>
  <a href="/metrics">Metrics</a>
    <a href="/settings">Settings</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>

</div>
<style>
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  float: left;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>
<script>
/* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script> -->

<h3 align="left"><b>User Activities</b></h3>

<table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Patient ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Timestamp</th>
                            <!--th scope="col">Photo</th-->
                            <th scope="col">Emotion</th>
                            <th scope="col">Emoji</th>
                            <th scope="col">People Encountered</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                        <tr>
                            <td>{{ patient.patient_id}}</td>
                            <td>{{ patient.name }}</td>
                            <td>{{ patient.timestamp }}</td>
                          
          
<!--
                            <td>
                              <script>
                                function resizeBase64Img(base64, newWidth, newHeight) {
                                    return new Promise((resolve, reject)=>{
                                        var canvas = document.createElement("canvas");
                                        canvas.style.width = newWidth.toString()+"px";
                                        canvas.style.height = newHeight.toString()+"px";
                                        let context = canvas.getContext("2d");
                                        let img = document.createElement("img");
                                        img.src = base64;
                                        img.onload = function () {
                                            context.scale(newWidth/img.width,  newHeight/img.height);
                                            context.drawImage(img, 0, 0); 
                                            resolve(canvas.toDataURL());               
                                        }
                                    });
                                }

                                var image = "{{ patient.photo }}".slice(6, "{{ patient.photo }}".length-6);
                                while (image.length % 4) {
                                image += "=";
                                }
                                let base64 = "data:image/png;base64," + image;

                                resizeBase64Img(base64, 100, 100).then(resized=>{
                                  document.body.append("After: ");
                                  let img = document.createElement("img");
                                  img.src = resized;
                                  document.body.appendChild(img);
                                });
                              </script>   
                              <div id="photo"></div>
                            </td>
                            
-->
                            <!--td>
                              <script>
                                var image = "{{ patient.photo }}".slice(6, "{{ patient.photo }}".length-6);
                                while (image.length % 4) {
                                image += "=";
                                }
                                var img = document.createElement("img");
                                img.src = "data:image/png;base64," + image;
                                img.width = img.naturalWidth / 2;
                                img.height = img.naturalHeight / 2;
                                document.write("<td>");
                                document.write(img.outerHTML);
                                document.write("</td>");
                              </script>   
                            </td-->
<!--
                            <td>{{ patient.photo }}</td>
-->
                            <td>{{ patient.emotion }}</td>
                            
<!--
                            <-td>{{ patient.emoji }}</td>
-->
                            <td>
                              <script>
                                var image = "{{ patient.emoji }}".slice(6, "{{ patient.emoji }}".length-6);
                                while (image.length % 4) {
                                image += "=";
                                }
                                var img = document.createElement("img");
                                img.src = "data:image/png;base64," + image;
                                img.width = img.naturalWidth / 2;
                                img.height = img.naturalHeight / 2;
                                document.write("<td>");
                                document.write(img.outerHTML);
                                document.write("</td>");
                              </script>   
                            </td>
                            
                            <td>{{ patient.people_counter }}</td>
                        </tr>                   
                      
                        {% endfor %}
                    </tbody>
                </table>
    

                            
                  

{% endblock %}
