{% extends "base.html" %}
{% block title %}Emotion Recognition{% endblock %}
{% block content %}
<h3 align="center"><b>Emotion Recognition</b></h3>

<center>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="switch1">
  <label class="custom-control-label" for="switch1">Start / Stop (Emotion Detector)</label>
</div>
</center>

<br>
<br>

<center>
  <img id="latest_face" src="/latest_face" alt="Latest Face" width=40% height=auto/>
  <img id="latest_emotion" src="/latest_emotion" alt="Latest Emotion" width=40% height=auto/>
</center>

<!--
<center>
<table>
  <tr>
    
    <th><center>Latest Face</center></th>
    <th><center>Latest Emotion</th>
    </center>
  </tr>
  <tr>
    <center>
    <td><img id="latest_face" src="/latest_face" alt="Latest Face" width=50% height=auto/></center></td>
    <center>
    <td><img id="latest_emotion" src="/latest_emotion" alt="Latest Emotion" width=200% height=auto/></td></center>
  </tr>  
</table>
</center>
-->

<script>

  var switchElement = document.getElementById("switch1");
  switchElement.addEventListener("change", function() {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/process", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(JSON.stringify({state: this.checked}));
  });

  setInterval(function() {
    const img = document.getElementById("latest_face");
    img.src = img.src.split("?")[0]+"?"+new Date().getTime();
    const img1 = document.getElementById("latest_emotion");
    img1.src = img1.src.split("?")[0]+"?"+new Date().getTime();
    },5000);

</script>

<!-- <button type="button" class="btn btn-outline-dark">Dark</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
<button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>

<div class="btn-group-toggle" data-toggle="toggle">
  <label class="btn btn-secondary active">
    <input type="checkbox" checked autocomplete="off"> Checked
  </label>
</div>

<input type="checkbox" checked data-toggle="toggle" data-width="100"> -->

<!-- <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/activities">Activities</a>
  <a href="/metrics">Metrics</a>
    <a href="/settings">Settings</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>

</div>
<style>
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>
<script>
/* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script> -->

{% endblock %}
