{% extends "base.html" %} {% block title %}Metrics{% endblock %}

{% block content %}
<h3 align="left"><b>Metrics</b></h3>

<!--
        // process data
        /* var patients = {{ patients  }};
            patients.forEach(patient => {
            labels.push(patient.timestamp);
            data_line_chart.push(patient.people_counter);
            if(patient.emotion in data_pie_chart){
                data_pie_chart[patient.emotion]+=1;
            }else{
                data_pie_chart[patient.emotion]=1;
            }
        });*/
-->

</body>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>
    <h1>Metrics for {{ user }}</h1>
    <canvas id="line-chart"></canvas>
    <canvas id="pie-chart"></canvas>
    <script>
        
        var ctx = document.getElementById('line-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {{ line_chart_data|tojson|safe }},
            options: {}
        });

        // emotions are 7 in total
        var colors = ["#FF6384", "#36A2EB", "#FFCE56", "#FF0000", "#00FF00", "#0000FF", "#FFFF00"];
        var data_pie = {
            datasets: [{
            data: Object.values(pie_chart_data),
            backgroundColor: colors,
            label: 'Dataset 1'
            }],
        labels: Object.keys(pie_chart_data)
        };
        
        var ctx2 = document.getElementById('pie-chart').getContext('2d');
        var myPieChart = new Chart(ctx2,{
            type: 'pie',
            data: data_pie,
            options: {
                responsive: true
            }
        });
        
    </script>
    
</body>




{% endblock %}
